@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  src: local("Ubuntu"),
    url("../public/fonts/Ubuntu/Ubuntu-Regular.ttf") format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  /*font-family: 'Ubuntu', Roboto, sans-serif;*/
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Ubuntu;
}

.bg-app {
  background: #ec6448;
}
